.css-1v0mbdj {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btn {
    display: inline-block;
    background-color: #1DC19B;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
}

.imgthesis {
    display: flex;
    border-radius: 50px; 
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: auto;
    -webkit-box-flex: 0;
    flex-grow: 0;
    cursor: pointer;   
    transition: transform 0.4s;
}

.imgthesis:hover {
    transform: scaleY(0.9);
}

.txtthesis {
    margin-top: 10px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    text-align: center;
}

.imgautomated {
    display: flex;
    border-radius: 50px; 
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: auto;
    -webkit-box-flex: 0;
    flex-grow: 0;
    cursor: pointer;   
    transition: transform 0.4s;
}

.imgautomated:hover {
    transform: scaleY(0.95);
}

.txtautomated {
    margin-top: 10px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    text-align: center;
}