.css-1v0mbdj {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#btn {
    display: inline-block;
    background-color: #1DC19B;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
}
